
<footer style="width:100%;" class="container-fluid outfit-font light-font bg-dark pt-2">
    
    <div class="row mx-0">
        <div class="col-md-5 my-4 px-0 px-xl-5 d-flex align-items-center justify-content-around">

            <a class="imageLink" href="https://www.instagram.com/orpheuseffects/" aria-label="Instagram">
                <img class="socialMediaIcon mx-2" src="/images/icons/instagramlogowhite.png" alt="Instagram">
            </a>
            <a class="imageLink" href="https://www.facebook.com/ofx.official" aria-label="Facebook">
                <img class="socialMediaIcon mx-2" src="/images/icons/facebooklogowhite.png" alt="Facebook">
            </a>
        </div>

        <div class="col-md-7 px-0 d-flex flex-column text-light align-items-center justify-content-center my-1">
            <a class="hover-link" href="/imprint">Imprint / Impressum</a>
            <a class="hover-link" href="/privacypolicy">Privacy Policy</a>
            <p class="text-center" style="margin: 10px;">&copy; 2024 Inselgruppe. All rights reserved.</p>
        </div>
    </div>
</footer>